<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-7 col-sm-10">
      <form class="text-center border border-light p-5" [formGroup]="noteForm">
    
        <p class="h4 mb-4">Add New Note</p>
    
        <!-- Note -->
        <input id="defaultLoginFormEmail" formControlName="note" class="form-control mb-4" placeholder="Note">
  
        <!-- Picture -->
        <input class="form-control mb-4" formControlName="picture" placeholder="Picture Link">
  
        <!-- Video -->
        <input  class="form-control mb-4" formControlName="video" placeholder="Video Link">
  
        <input class="form-control mb-4" formControlName="date" type="date" id="birthday" name="birthday">
        
    
        <!-- Sign in button -->
        <button mdbBtn color="info" (click)="addNote()" class="my-4" type="submit" >Add</button>
  
        <button mdbBtn color="info" (click)="getNotes()" class="my-4" type="submit" >Get</button>
  
      </form>
    </div>
    
  </div>
  
</div>
